<li class="add-task-row">
    <div class="view-panel">
        <label class="muted add-label">Add a Task...</label>
    </div>
    <div class="edit-panel" style="display: none;">
        <input type="text" class="add-input" placeholder="Task Name">
    </div>
</li>
